{% extends 'main/header.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}


{% block content %}

    <div class="container">

        <div class="col-12 col-sm-6 col-md-10">
                    <strong><h3>Assignments</h3></strong>
        <hr/>

            
            {% if request.user.role == "Teacher" %}
                
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Download File</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for foo in assignment_submission %}
                            <tr>
                                <th scope="row">{{ foo.user.username }}</td>
                                <td>{{ foo.comment }}</td>
                                <td><a href="{{foo.file.url}}" download>Download</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                

            {% elif request.user == foo.user %}
        
                {% for foo in assignment_submission %}
                    <b>Name:</b> {{ foo.user.username }}    <b>Comment:</b> {{ foo.comment }}
                    <a href="{{foo.file.url}}" download>Download</a>

                    <br/>
                {% endfor %}
            {% endif %}
            




            <br/>


            <br/>


        </div>

    </div>

{% endblock %}