{% extends 'main/header.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}


{% block content %}

    <div class="container">

        <div class="col-12 col-sm-6 col-md-10">
                    <strong><h3>Assignments</h3></strong>
        <hr/>
        
            {% for foo in assignment_submission %}
            {% if request.user.role == "Teacher" %}
                <b>Name:</b> {{ foo.user.username }}    <b>Comment:</b> {{ foo.comment }}
                <a href="{{foo.file.url}}" download>Download</a>

                <br/>
            {% elif request.user == foo.user %}
                <b>Name:</b> {{ foo.user.username }}    <b>Comment:</b> {{ foo.comment }}
                <a href="{{foo.file.url}}" download>Download</a>

                <br/>
            {% endif %}
            {% endfor %}




            <br/>


            <br/>


        </div>

    </div>

{% endblock %}